In [ ]:
# 1. Write a Python program to convert kilometers to miles?
# 2. Write a Python program to convert Celsius to Fahrenheit?
# 3. Write a Python program to display calendar?
# 4. Write a Python program to solve quadratic equation?
# 5. Write a Python program to swap two variables without temp variable?

In [1]:
#1. Write a Python program to convert kilometers to miles?
kilo=int(input("Enter the value in kiometer"))
# 1 kilometer is approximately equal to 0.62137119 miles.
miles=kilo*0.62137119 
print(f"{kilo} km = {miles} miles")

Enter the value in kiometer 34

34 km = 21.126620459999998 miles

In [5]:
# 2. Write a Python program to convert Celsius to Fahrenheit?
# (°C × 9/5) + 32 = °F
celsius=int(input("Enter the temperature in celsius"))
Fahrenheit=((celsius*9)/5)+32
print(f"{celsius} degree clesius = {Fahrenheit} degree Fahrenheit")

Enter the temperature in celsius 0

0 degree clesius = 32.0 degree Fahrenheit

In [10]:
import calendar
print(calendar.calendar(2023,w=3,l=2))

                                             2023



          January                          February                          March

Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun

                          1                1   2   3   4   5                1   2   3   4   5

  2   3   4   5   6   7   8        6   7   8   9  10  11  12        6   7   8   9  10  11  12

  9  10  11  12  13  14  15       13  14  15  16  17  18  19       13  14  15  16  17  18  19

 16  17  18  19  20  21  22       20  21  22  23  24  25  26       20  21  22  23  24  25  26

 23  24  25  26  27  28  29       27  28                           27  28  29  30  31

 30  31



           April                             May                              June

Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun

                      1   2        1   2   3   4   5   6   7                    1   2   3   4

  3   4   5   6   7   8   9        8   9  10  11  12  13  14        5   6   7   8   9  10  11

 10  11  12  13  14  15  16       15  16  17  18  19  20  21       12  13  14  15  16  17  18

 17  18  19  20  21  22  23       22  23  24  25  26  27  28       19  20  21  22  23  24  25

 24  25  26  27  28  29  30       29  30  31                       26  27  28  29  30



            July                            August                         September

Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun

                      1   2            1   2   3   4   5   6                        1   2   3

  3   4   5   6   7   8   9        7   8   9  10  11  12  13        4   5   6   7   8   9  10

 10  11  12  13  14  15  16       14  15  16  17  18  19  20       11  12  13  14  15  16  17

 17  18  19  20  21  22  23       21  22  23  24  25  26  27       18  19  20  21  22  23  24

 24  25  26  27  28  29  30       28  29  30  31                   25  26  27  28  29  30

 31



          October                          November                         December

Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun

                          1                1   2   3   4   5                        1   2   3

  2   3   4   5   6   7   8        6   7   8   9  10  11  12        4   5   6   7   8   9  10

  9  10  11  12  13  14  15       13  14  15  16  17  18  19       11  12  13  14  15  16  17

 16  17  18  19  20  21  22       20  21  22  23  24  25  26       18  19  20  21  22  23  24

 23  24  25  26  27  28  29       27  28  29  30                   25  26  27  28  29  30  31

 30  31

In [22]:
#4. Write a Python program to solve quadratic equation?
from math import sqrt
a=int(input("Enter the a value"))
b=int(input("Enter the b value"))
c=int(input("Enter the c value"))
n=((b*b)-(4*a*c))
squ=sqrt(n)
x1=(-b+squ)/(2*a)
x2=(-b-squ)/(2*a)
print(f"The value of x for the quadratic equation {a}x2+({b}x)+{c} is {x1} and {x2}")

Enter the a value 6
Enter the b value -17
Enter the c value 12

The value of x for the equation 6x2+(-17x)+12 is 1.5 and 1.3333333333333333

In [13]:
#Write a Python program to swap two variables without temp variable?
x=2
y=1
print(f"x={x} and y={y}")
x,y=y,x
print(f"After swap, x={x} and y={y}")

x=2 and y=1
 After swap, x=1 and y=2

In [18]:
from math import sqrt
x=sqrt(4)
print(x)

2.0